<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tasty Recipes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-10">
                            <div class="main-menu   d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{{ url_for('index') }}">home</a></li>
                                        <li><a href="{{ url_for('about') }}">about</a></li>
                                        <li><a href="{{ url_for('view_recipes') }}">Recipes</a></li>
                                        <li><form
                                                class="form-inline my-2 my-lg-0"
                                                action="{{ url_for('search_results') }}" method="GET">
                                            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="query">
                                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                        </form>
                                        </li>



                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->


    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Add new Recipe</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->

   <div class="container recepie_details_area ">
       <div class="row ">
        <div class="col-md ">

           <form method="POST" action="{{ url_for('add_recipe') }}" enctype="multipart/form-data">

            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">Name of Recipe :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name= "name" id="name"
                       placeholder="Please enter the name of the Dish ">
              </div>
            </div>
            <div class="form-group row">
              <label for="about" class="col-sm-2 col-form-label">About Recipe :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="about" id="about"
                       placeholder="Please enter  max 200 words about this Dish ">
              </div>
            </div>

               <div class="form-group row">
              <label for="time" class="col-sm-2 col-form-label">Time :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="time" id="time"
                       placeholder="time to prepare ( time min/hrs) ">
              </div>
            </div>

            <div class="form-group row">
                <label for="category" class="col-sm-2 col-form-label">Recipe category</label>
                <div class="col-sm-10"><select name="category"
                                               class="form-control"
                                                id="category">
                  <option>Main Dish</option>
                  <option>Side Dish </option>
                  <option>Dessert</option>

                </select>
            </div>
            </div>
                <!-- start of Ingredients -->
            <div class="ing">


              <div class="form-group row">
                <label for="ing1" class="col-sm-2 col-form-label">Ingredients :</label>
                <div class="col-sm-10">
                  <input type="text" name="ing1" class="form-control" id="ing1"
                         placeholder="Please enter 8 main Ingredients">
                </div>
              </div>

              <div class="form-group row">
                <label for="ing2" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="ing2" name="ing2">
                </div>
              </div>

              <div class="form-group row">
                <label for="ing3" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="ing3" name="ing3">
                </div>
              </div>

              <div class="form-group row">
                <label for="ing4" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="ing4" name="ing4">
                </div>
              </div>

              <div class="form-group row">
                <label for="ing5" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="ing5" name="ing6">
                </div>
              </div>

              <div class="form-group row">
                <label for="ing6" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="ing6" name="ing6">
                </div>
              </div>

              <div class="form-group row">
                <label for="ing7" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="ing7" name="ing7">
                </div>
              </div>

              <div class="form-group row">
                <label for="ing8" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="ing8" name="ing8">
                </div>
              </div>





            </div>
                <!-- end of Ingredients -->


                <!-- start of steps -->
                <div class="steps">


                    <div class="form-group row">
                      <label for="step2" class="col-sm-2 col-form-label">steps to prepare  :</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="step1"
                               placeholder="Please enter 8 main Steps to prepare this Dish " name="step1">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="step2" class="col-sm-2 col-form-label"></label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="step2"
                               name="step2">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="step3" class="col-sm-2 col-form-label"></label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="step3"
                               name="step3">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="step4" class="col-sm-2 col-form-label"></label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="step4"
                               name="step4">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="step5" class="col-sm-2 col-form-label"></label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="step5"
                               name="step5">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="step6" class="col-sm-2 col-form-label"></label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="step6"
                               name="step6">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="step7" class="col-sm-2 col-form-label"></label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="step7"
                               name="step7">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="step8" class="col-sm-2 col-form-label"></label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="step8"
                               name="step8">
                      </div>
                    </div>

                  </div>
                <!-- end of Steps -->

                <div class="form-group row">
                    <label for="rImg" class="col-sm-2 col-form-label">Upload the Dish Image :</label>
                    <div class="col-sm-10">
                      <input type="file" class="form-control" id="rImg"  name="image_file">
                    </div>
                  </div>


            <div class="form-group row">
              <div class="col-sm">
                <button type="Submit" class="btn btn-outline-success btn-block">Submitt</button>
              </div>
            </div>

          </form>

         </div>
        </div>
   </div>


    <!-- latest_trand     -->
    <div class="latest_trand_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="trand_info text-center">
                        <p>Thousands of recipes are waiting to be watched</p>
                        <h3>Discover latest trending recipes</h3>
                        <a href="#" class="boxed-btn3">View all Recipes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ latest_trand     -->


        <!-- footer  -->
        <footer class="footer">

          <div class="copy-right_text">
              <div class="container">
                  <div class="footer_border"></div>
                  <div class="row align-items-center">
                      <div class="col-xl-8 col-md-8">

                      </div>
                      <div class="col-xl-4 col-md-4">
                          <div class="socail_links">
                              <ul>
                                  <li>
                                      <a href="#">
                                          <i class="fa fa-facebook"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <i class="fa fa-dribbble"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <i class="fa fa-behance"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
  <!--/ footer  -->
s
  <!-- JS here -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
